<html>
<head></head>
<body>

  <h1>Sinatra Hangman</h1>
  <p><%= render_word %></p>
  <p><%= missed_letters %></p>
  <p><%= response %></p>
  <form>
    <input type="text" name="guess"/>
    <input type="submit"/>
  </form>
</body>
</html>